<?php

declare(strict_types=1);

/*
 * ShellCardManagementAPIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ShellCardManagementAPIsLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use ShellCardManagementAPIsLib\Exceptions\ApiException;
use ShellCardManagementAPIsLib\Exceptions\FleetmanagementV1CustomerCustomer403ErrorException;
use ShellCardManagementAPIsLib\Exceptions\FleetmanagementV1CustomerPayers400ErrorException;
use ShellCardManagementAPIsLib\Exceptions\FleetmanagementV1CustomerPayers404ErrorException;
use ShellCardManagementAPIsLib\Exceptions\FleetmanagementV1UserLoggedinuser400ErrorException;
use ShellCardManagementAPIsLib\Exceptions\FleetmanagementV1UserLoggedinuser401ErrorException;
use ShellCardManagementAPIsLib\Exceptions\FleetmanagementV1UserLoggedinuser403ErrorException;
use ShellCardManagementAPIsLib\Exceptions\FleetmanagementV1UserLoggedinuser404ErrorException;
use ShellCardManagementAPIsLib\Exceptions\FleetmanagementV1UserLoggedinuser500ErrorException;
use ShellCardManagementAPIsLib\Models\AccountRequest;
use ShellCardManagementAPIsLib\Models\AccountResponse;
use ShellCardManagementAPIsLib\Models\AuditRequest;
use ShellCardManagementAPIsLib\Models\AuditResponse;
use ShellCardManagementAPIsLib\Models\CardGroupRequest;
use ShellCardManagementAPIsLib\Models\CardGroupResponse;
use ShellCardManagementAPIsLib\Models\CardTypeRequest;
use ShellCardManagementAPIsLib\Models\CardTypeResponse;
use ShellCardManagementAPIsLib\Models\CreateCardGroupRequest;
use ShellCardManagementAPIsLib\Models\CreateCardGroupResponse;
use ShellCardManagementAPIsLib\Models\CustomerDetailRequest;
use ShellCardManagementAPIsLib\Models\CustomerDetailResponse;
use ShellCardManagementAPIsLib\Models\FleetmanagementV1UserLoggedinuserRequest;
use ShellCardManagementAPIsLib\Models\LoggedInUserResponse;
use ShellCardManagementAPIsLib\Models\PayerRequest;
use ShellCardManagementAPIsLib\Models\PayerResponse;
use ShellCardManagementAPIsLib\Models\UpdateCardGroupRequest;
use ShellCardManagementAPIsLib\Models\UpdateCardGroupResponse;

class CustomerController extends BaseController
{
    /**
     * This API allows querying the user data of the logged in user.</br>
     * This API will return the user access details such as payers and/or accounts. </br>
     * This API will also validate that logged in user has access to the requested API, on failure it will
     * return HasAPIAccess flag as false in response.</br>
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param FleetmanagementV1UserLoggedinuserRequest|null $body Logged in user request body
     *
     * @return LoggedInUserResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function loggedinuser(
        string $apikey,
        string $requestId,
        ?FleetmanagementV1UserLoggedinuserRequest $body = null
    ): LoggedInUserResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v1/user/loggedinuser')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request  due to something that i" .
                    "s perceived to be a client\r\n error (e.g., malformed request syntax, inval" .
                    "id \r\n request message framing, or deceptive request routing).",
                    FleetmanagementV1UserLoggedinuser400ErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    FleetmanagementV1UserLoggedinuser401ErrorException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'The server understood the request but refuses to authorize it.',
                    FleetmanagementV1UserLoggedinuser403ErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    FleetmanagementV1UserLoggedinuser404ErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.',
                    FleetmanagementV1UserLoggedinuser500ErrorException::class
                )
            )
            ->type(LoggedInUserResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows querying the payer accounts details from the Shell Cards
     *
     * Platform. It provides flexible search criteria for searching payer
     *
     * information and supports paging.
     *
     *
     *
     * Paging is applicable only when all the
     *
     * payers passed in the input are from the same ColCo.
     *
     *
     *
     * However, paging will
     *
     * be ignored and the API will return all the matching data by merging the
     *
     * data queried from each ColCo when payers passed in the input are from
     *
     * multiple ColCos.
     *
     *
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param PayerRequest|null $body Serach payers request body
     *
     * @return PayerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function payers(string $apikey, string $requestId, ?PayerRequest $body = null): PayerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v1/customer/payers')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    "The server cannot or will not process the request  due to something that i" .
                    "s perceived to be a client\r\n error (e.g., malformed request syntax, inval" .
                    "id \r\n request message framing, or deceptive request routing).",
                    FleetmanagementV1CustomerPayers400ErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('The request has not been applied because it lacks valid  authentication creden' .
                'tials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('The server understood the request but refuses to authorize it.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    FleetmanagementV1CustomerPayers404ErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.'
                )
            )
            ->type(PayerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows querying the card delivery addresses of a given account from the Shell Cards
     * Platform.
     *
     * Only active delivery addresses will be returned.
     *
     *
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CustomerDetailRequest|null $body Customerdetails request body
     *
     * @return CustomerDetailResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function customer(
        string $apikey,
        string $requestId,
        ?CustomerDetailRequest $body = null
    ): CustomerDetailResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v1/customer/customer')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init("The server cannot or will not process the request  due to something that is pe" .
                "rceived to be a client\r\n error (e.g., malformed request syntax, invalid \r\n " .
                "request message framing, or deceptive request routing).")
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('The request has not been applied because it lacks valid  authentication creden' .
                'tials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'The server understood the request but refuses to authorize it.',
                    FleetmanagementV1CustomerCustomer403ErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The origin server did not find a current representation  for the target resour' .
                'ce or is not willing to disclose  that one exists.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.'
                )
            )
            ->type(CustomerDetailResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows querying the customer account details from the Shell Cards Platform.
     *
     * It provides a flexible search criterion and supports paging".
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param AccountRequest|null $body
     *
     * @return AccountResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function accounts(string $apikey, string $requestId, ?AccountRequest $body = null): AccountResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v1/customer/accounts')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init("The server cannot or will not process the request  due to something that is pe" .
                "rceived to be a client\r\n error (e.g., malformed request syntax, invalid \r\n " .
                "request message framing, or deceptive request routing).")
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('The request has not been applied because it lacks valid  authentication creden' .
                'tials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('The server understood the request but refuses to authorize it.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The origin server did not find a current representation  for the target resour' .
                'ce or is not willing to disclose  that one exists.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.'
                )
            )
            ->type(AccountResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This operation allows querying card types that are associated to the given account and are allowed
     * to be shown to users.
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CardTypeRequest|null $body Get CardType Request Body
     *
     * @return CardTypeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cardType(string $apikey, string $requestId, ?CardTypeRequest $body = null): CardTypeResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v2/customer/cardtype')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init("The server cannot or will not process the request  due to something that is pe" .
                "rceived to be a client\r\n error (e.g., malformed request syntax, invalid \r\n " .
                "request message framing, or deceptive request routing).")
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('The request has not been applied because it lacks valid  authentication creden' .
                'tials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('The server understood the request but refuses to authorize it.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The origin server did not find a current representation  for the target resour' .
                'ce or is not willing to disclose  that one exists.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.'
                )
            )
            ->type(CardTypeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This operation allows querying the card group details . It provides flexible search criteria and
     * supports paging.\
     *
     *
     * When the card group type is configured as ‘Vertical’ in cards platform, this operation will return
     * all card groups from the given account or if no account is passed in the input, then will return
     * card groups from all the accounts under the payer.
     *
     *
     * When the card group type is configured as ‘Horizontal’ in cards platform, this API will return all
     * card groups configured directly under the payer.
     *
     *
     * Accounts with cancelled status will not be considered for cardgroups search for the configured (E.g.,
     * SFH) set of client apps.
     *
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CardGroupRequest|null $body Request Body
     *
     * @return CardGroupResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function cardgroups(string $apikey, string $requestId, ?CardGroupRequest $body = null): CardGroupResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v1/customer/cardgroups')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init("The server cannot or will not process the request  due to something that is pe" .
                "rceived to be a client\r\n error (e.g., malformed request syntax, invalid \r\n " .
                "request message framing, or deceptive request routing).")
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('The request has not been applied because it lacks valid  authentication creden' .
                'tials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('The server understood the request but refuses to authorize it.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The origin server did not find a current representation  for the target resour' .
                'ce or is not willing to disclose  that one exists.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.'
                )
            )
            ->type(CardGroupResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This operation allows users to fetch audit data of account or card operations performed by users of
     * a given customer
     *
     * The audit data includes details of below API operations
     *
     *
     *
     * * Order Card
     *
     * * Create Card Group
     *
     * * PIN reminder
     *
     * * Move Cards
     *
     * * Update Card Status
     *
     * * Update Card Group
     *
     * * Auto renew
     *
     * * Bulk card order
     *
     * * Bulk card block
     *
     * * Bulk Card Order (Multi Account)
     *
     * * BCOSummary
     *
     * * BCOMultiAccountSummary
     *
     * * BCBSummary
     *
     * * Mobile Payment Registration
     *
     * * Fund Transfer (Scheduled & Realtime)
     *
     * * Delivery Address Update.
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param AuditRequest|null $body request body
     *
     * @return AuditResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function auditreport(string $apikey, string $requestId, ?AuditRequest $body = null): AuditResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v1/customer/auditreport')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init("The server cannot or will not process the request  due to something that is pe" .
                "rceived to be a client\r\n error (e.g., malformed request syntax, invalid \r\n " .
                "request message framing, or deceptive request routing).")
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('The request has not been applied because it lacks valid  authentication creden' .
                'tials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('The server understood the request but refuses to authorize it.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The origin server did not find a current representation  for the target resour' .
                'ce or is not willing to disclose  that one exists.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.'
                )
            )
            ->type(AuditResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows creating a new Card Group in the Shell Cards Platform. It will
     *
     * also allow moving of cards (up to 500 cards) into the newly created
     *
     * card-group.
     *
     *
     *
     * ### Move Card requests are queued after passing the below validations
     *
     *
     *
     * * Given PAN matches with only one card.
     *
     * * Card is allowed to be moved to the Target Card Group and/or
     *
     * * Target account requested.
     *
     * * There is no pending Move Card request for the same card in the queue which is submitted on the
     * same date
     *
     * and is yet to be processed or has been processed
     *
     * successfully
     *
     *
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CreateCardGroupRequest|null $body CreateCardGroup request body
     *
     * @return CreateCardGroupResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createcardgroup(
        string $apikey,
        string $requestId,
        ?CreateCardGroupRequest $body = null
    ): CreateCardGroupResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v1/customer/createcardgroup')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init("The server cannot or will not process the request  due to something that is pe" .
                "rceived to be a client\r\n error (e.g., malformed request syntax, invalid \r\n " .
                "request message framing, or deceptive request routing).")
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('The request has not been applied because it lacks valid  authentication creden' .
                'tials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('The server understood the request but refuses to authorize it.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The origin server did not find a current representation  for the target resour' .
                'ce or is not willing to disclose  that one exists.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.'
                )
            )
            ->type(CreateCardGroupResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows updating or removing a Card Group in the Shell Cards Platform.
     *
     *
     *
     * It also allows moving of cards out of a card group or from one card group to another existing card
     * group.
     *
     *
     *
     * The request for updating or removing of the card group, creationg of a new card group (where-
     * applicable) and moving of card into another card group will be queued at Microservices after passing
     * the basic
     *
     * validations.
     *
     *
     *
     * @param string $apikey This is the API key of the specific environment which needs to be
     *        passed by the client.
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param UpdateCardGroupRequest|null $body request body of customer card group
     *
     * @return UpdateCardGroupResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updatecardgroup(
        string $apikey,
        string $requestId,
        ?UpdateCardGroupRequest $body = null
    ): UpdateCardGroupResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/fleetmanagement/v1/customer/updatecardgroup')
            ->auth('BasicAuth')
            ->parameters(
                HeaderParam::init('apikey', $apikey),
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init("The server cannot or will not process the request  due to something that is pe" .
                "rceived to be a client\r\n error (e.g., malformed request syntax, invalid \r\n " .
                "request message framing, or deceptive request routing).")
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('The request has not been applied because it lacks valid  authentication creden' .
                'tials for the target resource.')
            )
            ->throwErrorOn(
                '403',
                ErrorType::init('The server understood the request but refuses to authorize it.')
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The origin server did not find a current representation  for the target resour' .
                'ce or is not willing to disclose  that one exists.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition the prevented it from fulfi' .
                    'lling the request.'
                )
            )
            ->type(UpdateCardGroupResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
