<?php

declare(strict_types=1);

/*
 * ShellCardManagementAPIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ShellCardManagementAPIsLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use ShellCardManagementAPIsLib\Exceptions\ApiException;
use ShellCardManagementAPIsLib\Exceptions\ErrorObjectErrorException;
use ShellCardManagementAPIsLib\Models\AccountRestrictionRequest;
use ShellCardManagementAPIsLib\Models\AccountRestrictionRes;
use ShellCardManagementAPIsLib\Models\BudleDetailsReq;
use ShellCardManagementAPIsLib\Models\BundleDetails;
use ShellCardManagementAPIsLib\Models\CardRestrictionReq;
use ShellCardManagementAPIsLib\Models\CardRestrictionRes;
use ShellCardManagementAPIsLib\Models\CreateBundleRequest;
use ShellCardManagementAPIsLib\Models\CreateBundleRes;
use ShellCardManagementAPIsLib\Models\DeleteBundleRequest;
use ShellCardManagementAPIsLib\Models\DeleteBundleResponse;
use ShellCardManagementAPIsLib\Models\SearchAccountLimitRequest;
use ShellCardManagementAPIsLib\Models\SearchAccountLimitRes;
use ShellCardManagementAPIsLib\Models\SearchCardRestrictionReq1;
use ShellCardManagementAPIsLib\Models\SearchCardRestrictionRes1;
use ShellCardManagementAPIsLib\Models\SummaryofbundleRes;
use ShellCardManagementAPIsLib\Models\SummaryofbundlerRequest;
use ShellCardManagementAPIsLib\Models\UpdateBundleRequest;
use ShellCardManagementAPIsLib\Models\UpdateBundleRes;

class RestrictionController extends BaseController
{
    /**
     * This API will allows querying card details including the day/time and product restrictions.
     * #### Supported operations
     *
     * * Search by list of cards or bundle
     *
     * * Include card bundle details (optional)
     *
     *
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param SearchCardRestrictionReq1|null $body Restriction search card request body
     *
     * @return SearchCardRestrictionRes1 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchCardRestriction(
        string $requestId,
        ?SearchCardRestrictionReq1 $body = null
    ): SearchCardRestrictionRes1 {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/search')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(SearchCardRestrictionRes1::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * The Card Limit and Restriction API is REST-based and employs Basic and ApiKey authentication. The
     * API endpoints accept JSON-encoded request bodies, return JSON-encoded responses and use standard
     * HTTP response codes.
     *
     *
     *
     * All resources are located in the Shell Card Platform.  The Shell Card Platform is the overall
     * platform that encompasses all the internal Shell systems used to manage resources. The internal
     * workings of the platform are not important when interacting with the API. However, it is worth
     * noting that the platform uses to communicate with various backend systems and some API calls are
     * processed asynchronously.
     *
     *
     *
     * All endpoints use the `POST` verb for retrieving, updating, creating and deleting resources in the
     * Shell Card Platform. The endpoints that retrieve resources from the Shell Card Platform allow
     * flexible search parameters in the API request body.
     *
     *
     *
     * **Important Note** - This operation allows setting or updating the restrictions on existing cards.
     * (For up to 3 cards in a single call).
     *
     *
     *
     * All restrictions of the cards are submitted and executed after successful below condition.
     *
     * •    The card exists.
     *
     * •    Day time restriction cannot be set to restrict the use of a card on all days of the week i.e.,
     * the values for all the days in the restriction cannot be set to false.
     *
     * •    Either of the usage, daytime, location or product restriction ‘Reset’ is set to ‘True’ or
     * applied on the card.
     *
     * •    All the limits in the usage restriction profile for a card is not set to ‘0’/null.
     *
     * •    If IsVelocityCeiling is ‘true’, API will validate below condition:
     *
     * Usage restrictions for a card are lower than Customer Card Type level limits, if there are no
     * customer level overrides available then lower than OU card type limits.
     *
     * •    In usage restrictions, the limits per transaction should be less than or equal to Daily, Daily
     * should be less than or equal to Weekly, Weekly should be less than or equal to Monthly, Monthly
     * should be less than or equal to Yearly (Annually). Exception being null/blank will be skipped. i.e.,
     * Daily value should be less than equal to Monthly value if Weekly value is null/blank. Lifetime limit
     * is not considered for usage restrictions limits validation.
     *
     * •    Apply the card type limit to Gateway when a value is NULL in the input. However, if the card
     * type limit is NULL for the same field, then no limit will be applied in Gateway.
     *
     * •    If ‘SetDefaultOnVelocityUpdate’ is ‘true’ then the operation will apply customer cardtype or OU
     * level velocity limits on existing cards when restrictions are modified without providing custom
     * values for all fields.
     *
     *
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CardRestrictionReq|null $body Card Restriction request body
     *
     * @return CardRestrictionRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function applyRestriction(string $requestId, ?CardRestrictionReq $body = null): CardRestrictionRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/update')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(CardRestrictionRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API enables clients to create a new card bundle and apply restrictions.
     *
     * #### Supported operations
     *
     * * Create bundle and include mandatory -
     *
     * * Usage, day/time, product and location restrictions
     *
     * * List of cards to add to bundle
     *
     * * Create bundle and include optional identifier of bundle in external system
     *
     * #### Validation rules
     *
     * The following are the key validation rules with the associated error codes for failed validation-
     *
     * * `7012` - At least one card must be added to the bundle
     *
     * *  `7011` - The total number of cards passed in the input must be 500 or less.
     *
     * *  `7014` - All the cards passed in the input are part of the selected account.
     *
     * *  `7013` - At least one restriction must be applied to the bundle i.e. either of usage, day/time,
     * location or product restriction.
     *
     * *  `7005` - Day time restriction cannot be set to restrict the use of a card on all days of the
     * week.
     *
     * *  `7000` - Usage restriction of the bundle is not open ended i.e. all the limits within the usage
     * restriction must not be set to 0/null.
     *
     * *  `7004` - In the usage restrictions, the limits per transaction should be less than or equal to
     * Daily, Daily should be less than or equal to Weekly, Weekly should be less than or equal to Monthly.
     * Exception being 0/blank will be skipped, i.e. Daily value should be less than equal to Monthly value
     * if Weekly value is 0/blank.
     *
     * *  `0007` - Error returned if request parameters fail validation e.g. mandatory check.
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param CreateBundleRequest|null $body CreateBundle request body
     *
     * @return CreateBundleRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createBundle(string $requestId, ?CreateBundleRequest $body = null): CreateBundleRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/createbundle')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(CreateBundleRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API enables clients to update an existing card bundle and its associated restrictions.
     *
     * #### Supported operations
     *
     * * Add new cards to an existing bundle
     *
     * * Remove cards from existing bundle
     *
     * * Update restrictions applied to existing bundle
     *
     *
     *
     * The following are the key validation rules with the associated error codes for failed validation-
     *
     *
     * #### Validation rules
     *
     * *  `9007` - The cards must exist in the cards platform for adding or removing cards.
     *
     * *  `7014` - All the cards passed in the input are part of the selected account.
     *
     * *  `7018` - All the cards passed in the input are part of the selected bundle.
     *
     * *  `7011` - The total number of cards passed in the input must be 500 or less.
     *
     * *  `7012` - The action to remove cards should not result in removing all the cards from the bundle.
     *
     * *  `7016` - At least one restriction must be modified for â€œUpdateâ€ request action.
     *
     * *  `7013` - All restrictions cannot be marked for â€œResetâ€ for â€œUpdateâ€ request action.
     *
     * *  `7005` - Day time restriction cannot be set to restrict the use of a card on all days of the
     * week. This validation is applicable for Update request action.
     *
     * *  `7000` - Usage restriction of the bundle is not open ended i.e., all the limits within the
     * usage restriction must not be set to 0/null. This validation is applicable for Update request action.
     *
     * *  `7004` - In the usage restrictions, the limits per transaction should be less than or equal to
     * Daily, Daily should be less than or equal to Weekly, Weekly should be less than or equal to Monthly.
     * Exception being 0/blank will be skipped, i.e., Daily value should be less than equal to Monthly
     * value if Weekly value is 0/blank. This validation is applicable for Update request action.
     *
     * *  `0007` - Error returned if request parameters fail validation e.g. at least one card must be
     * provided in the input.
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param UpdateBundleRequest|null $body Update Bundle request body
     *
     * @return UpdateBundleRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateBundle(string $requestId, ?UpdateBundleRequest $body = null): UpdateBundleRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/updatebundle')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(UpdateBundleRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API enables clients to delete an existing card bundle in the Shell Card Platform. Once the card
     * bundle is deleted the usage and product restrictions of the cards that were present in the bundle
     * will be reset based on the request.
     *
     * #### Supported operations
     *
     * * Delete card bundle by bundle Id
     *
     * #### Validation rules
     *
     * The following are the key validation rules with the associated error codes for failed validation-
     *
     * *  `7019` - The given card bundle is not available in the Shell Card Platform.
     *
     * *  `0007` - Error returned if request parameters fail validation e.g. mandatory check.
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param DeleteBundleRequest|null $body Update Bundle request body
     *
     * @return DeleteBundleResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteBundle(string $requestId, ?DeleteBundleRequest $body = null): DeleteBundleResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/deletebundle')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(DeleteBundleResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows clients to get a summary of card bundles associated with Payer/Account. This API
     * will return the basic bundle details including card and restriction details. Optionally the API will
     * also include a count of cards that are not associated with the bundle but returned by the search
     * criteria.
     *
     *
     * Note - to include count of cards of an account that are not associated with any bundles, in the
     * input parameter SearchCardBundles either pass all the bundles of the account in the list or pass
     * only account with bundle id left blank/null.
     *
     *
     * #### Supported operations
     *
     * * Get summary of bundles by list of bundle Ids
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param SummaryofbundlerRequest|null $body Summary of Bundle request body
     *
     * @return SummaryofbundleRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function summaryOfBundles(string $requestId, ?SummaryofbundlerRequest $body = null): SummaryofbundleRes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/summaryofbundles')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(SummaryofbundleRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows setting or updating the usage restrictions of an existing account.
     *
     *
     *
     * Then validation rules applied for this API.
     *
     *
     *
     * •    The account exists.
     *
     * •    Day time restriction cannot be set to restrict the use of a card, under the account, on all
     * days of the week.
     *
     * •    Either of the usage, daytime or location is either marked for reset or new restriction values
     * provided for the account.
     *
     * •    In usage restrictions, the limits per transaction should be less than or equal to Daily, Daily
     * should be less than or equal to Weekly, Weekly should be less than or equal to Monthly. Exception
     * being 0/blank will be skipped, i.e., Daily value should be less than equal to Monthly value if
     * Weekly value is 0/blank.
     *
     *
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param AccountRestrictionRequest|null $body Account Restriction request body
     *
     * @return AccountRestrictionRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function restrictionAccount(
        string $requestId,
        ?AccountRestrictionRequest $body = null
    ): AccountRestrictionRes {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/account')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(AccountRestrictionRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API will allow user to get account level limits for the given account. It returns the velocity
     * limits if its overridden at the account else the values will be null/empty.
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param SearchAccountLimitRequest|null $body Search Account Limit RequestBody
     *
     * @return SearchAccountLimitRes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function searchAccountLimit(
        string $requestId,
        ?SearchAccountLimitRequest $body = null
    ): SearchAccountLimitRes {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/searchaccountlimit')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(SearchAccountLimitRes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This API allows to get the details of a specific card bundle. It returns the bundle basic details
     * along with the cards in the bundle and restrictions applied on them.
     *
     * @param string $requestId Mandatory UUID (according to RFC 4122 standards) for requests and
     *        responses. This will be played back in the response from the request.
     * @param BudleDetailsReq|null $body Bundle Details Request body
     *
     * @return BundleDetails Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function bundleDetails(string $requestId, ?BudleDetailsReq $body = null): BundleDetails
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/card-restrictions/v1/bundledetails')
            ->auth('BearerToken')
            ->parameters(
                HeaderParam::init('RequestId', $requestId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'The server cannot or will not process the request due to something that is' .
                    ' perceived to be a client error (e.g., malformed request syntax, invalid re' .
                    'quest message framing, or deceptive request routing).',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'The request has not been applied because it lacks valid  authentication cr' .
                    'edentials for the target resource.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn('403', ErrorType::init('Forbidden', ErrorObjectErrorException::class))
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'The origin server did not find a current representation  for the target re' .
                    'source or is not willing to disclose  that one exists.',
                    ErrorObjectErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'The server encountered an unexpected condition that  prevented it from ful' .
                    'filling the request.',
                    ErrorObjectErrorException::class
                )
            )
            ->type(BundleDetails::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
